* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.letter-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid blue;
}

.letter {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  background-color: lightgreen;
}

.clicked-letter {
  background-color: red;
}

#line-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

#line-container > * {
  font-size: 150px;
}

#image {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 5em;
}

.info-box {
  font-size: 5em;
  font-family: "Nosifer", cursive;
  color: red;
  position: absolute;
  left: 25%;
  top: 10%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 2px solid red;
}

#again-button {
  height: 100px;
  width: 300px;
  border-radius: 4%;
  box-shadow: 2, 1, 1;
  background-color: rgb(255, 245, 61);
  font-size: 1.25em;
}

#again-button:hover {
  transform: scale(1.5);
  cursor: pointer;
}
