* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: azure;
}

.letter-container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-text {
  position: absolute;
  left: 50%;
  top: 5%;
}

.letter {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  background-color: rgba(38, 185, 38, 0.9);
  font-size: 2em;
  cursor: pointer;
}

.clicked-letter {
  background-color: red;
}

#line-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

#line-container > * {
  font-size: 12em;
}

#image {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
  padding-top: 3em;
}

.info-box,
.win-box {
  position: relative;
  left: -50%;
  font-size: 5em;
  font-family: "Nosifer", cursive;
  color: red;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#again-button {
  height: 150px;
  width: 350px;
  border-radius: 4%;
  box-shadow: 2, 1, 1;
  background-color: rgb(255, 245, 61);
  font-size: 1.25em;
  margin-bottom: 3em;
}

#again-button:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.win-box {
  font-family: "Chango", cursive;
  color: blue;
}

@media screen and (max-width: 1024px) {
  #again-button {
    height: 150px;
    width: 350px;
    font-size: 1.75em;
    margin-top: 2em;
  }

  .info-box,
  .win-box {
    font-size: 4em;
  }

  #line-container > * {
    font-size: 130px;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  #again-button {
    height: 150px;
    width: 350px;
    font-size: 1.75em;
    margin-top: 2em;
  }
}

@media screen and (max-width: 500px) {
  .info-box,
  .win-box {
    font-size: 3.5em;
  }
  #again-button {
    margin-top: 2em;
    height: 140px;
    width: 290px;
    font-size: 2em;
  }

  #line-container > * {
    font-size: 100px;
  }

  #image {
    width: 320px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }
}
