* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: azure;
}

h1 {
  padding: 2em;
  color: black;
  font-size: 50px;
  text-align: center;
}
h1 span {
  font-family: "nosifer", cursive;
  color: red;
}

.water-font {
  position: absolute;
  top: 30%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.water-font h2 {
  font-family: "Chango", cursive;
  font-size: 5em;
  width: 700px;
  color: rgba(255, 255, 255, 0.1);
  background-image: url(images/wave.png);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 10s forwards;
  /* animation-iteration-count: 1; */
}

@keyframes animate {
  100% {
    background-position: left 800px top -170px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 280px;
}

#start-button {
  height: 100px;
  width: 300px;
  border-radius: 4%;
  box-shadow: 2, 1, 1;
  background-color: rgb(255, 245, 61);
  font-size: 1.25em;
  margin-top: 3em;
}

#start-button:hover {
  transform: scale(1.5);
  cursor: pointer;
}
